# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/

# Virtual Environments
.venv/
venv/
.venv/
env/
.env

# IDEs
.vscode/
.idea/

# Local Data
*.bag

# Sensitive Files
settings.ini